body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

h1 {
    background-color: black;
    margin: 0%;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 6rem;
    font-family: 'Times New Roman', Times, serif;
    scroll-snap-align: start;
}

h1#light {
background-image: url(backgrounds/light-bg-img.jpg);
background-size: cover;
color: red;
}

h1:nth-child(2n-1) {
   background-color: wheat;
   color:white;

}

h1#light a {
    opacity: 0.3;
    background-repeat: no-repeat;
    text-decoration: none;
    background-color: white;
    transition: opacity 3s;
    
}

h1#light a:hover {
opacity: 2;
}

  h1#strength { 
background-image: url(backgrounds/4b35bd82582593.5d2246b7c4205.jpg);
background-repeat: no-repeat;
background-position: center;
}

h1#mature{
background-image: url(backgrounds/Mature-bg-img.jpg);
background-repeat: no-repeat;
background-position: center;
color: yellowgreen;
}

h1#orgasm {
    width: 100%;
    height: 100%;
}

h1#coaching {
    background-color: whitesmoke;
    color: black;
}