body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0%;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

h1 {
    background-color: black;
    margin: 0%;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 6rem;
    font-family: 'Times New Roman', Times, serif;
    scroll-snap-align: start;
}

h1#light {
background-image: url(backgrounds/light-bg-img.jpg);
background-size: cover;
color: rgb(240, 131, 29);
}

h1:nth-child(2n-1) {
   background-color: wheat;
   color:rgb(255, 81, 0);

}

h1#light a {
    opacity: 0.3;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: opacity 3s;
    
}

h1#light a:hover {
opacity: 1;
}

  h1#strength { 
background-image: url(backgrounds/Strength-bg-img.jpg);
background-repeat: no-repeat;
background-position: center;
}

h1#mature{
background-image: url(backgrounds/Mature-bg-img.jpg);
background-repeat: no-repeat;
background-position: center;
color: yellowgreen;
}

h1#orgasm {
  background-position: center;
  background-color: rgb(7, 214, 241);
  color: navy;
  position: relative;
}

h1#coaching {
    background-color: rgba(150, 255, 150, 0.363);
    color:white;
    background-size: calc(1fr;1fr;1fr);
}

h1#gritty {
    background-image: url(backgrounds/gritty-bg-img2.png);
    background-repeat: repeat-x;
    color: goldenrod;
}

h1#nostalgia {
    background-color: rgb(208, 255, 255);
    background-image: url(backgrounds/nostalgia-bg-img-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}